.login__bg {
    background-image: url(https://cdn.pixabay.com/animation/2022/12/05/10/47/10-47-58-930_512.gif);
    height: 92vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}